{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link rel="stylesheet" href="{{ bootstrap_find_resource('css/jquery.dataTables.css', cdn='datatables', use_minified=True) }}">
{% endblock %}

{% block app_content %}
  {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}!</h1>
  {% endif %}
  <p>
    Welcome to <i>Performance change annotator</i>, a tool for annotating time series data 
    for changepoint analysis.
  </p>
  {% if not current_user.is_authenticated %}<br>
  <p>
    Please <a href="{{ url_for('auth.login') }}">log in</a> or 
    <a href="{{ url_for('auth.register') }}">register</a> to get started.
  </p>
  <br>
  <h1>General Introduction</h1>
  <br>
  <p>
    Hello,
    This project is done by student <a href="https://www.linkedin.com/in/mohamed-bilel-besbes/" target="_blank">Mohamed Bilel Besbes</a> and <a href="https://diegoeliascosta.github.io/" target="_blank">Professor Diego Elias Damasceno Costa</a> from <a href="https://realiselab.github.io/" target="_blank">REALISE Lab</a> at Concordia University in Montréal, Canada. 
  </p>
  <br>
  <h1>Main Contribution</h1>
  <br>


  <ul>
    <li>
      <h3>General overview</h3><br>
      This project aims to optimize the performance engineering workflow at Mozilla, specifically the part of automatic
      detection by making it detect anomalies (regressions and improvements) faster and more precisely, thus saving investigation 
      time for Mozilla performance engineers. The aim to do this by exploring alternatives to the existing method in use (Student T-test).
    </li>
    <li>
      <h3>Current Progress Status</h3><br>
      We collected data from Mozilla systems earlier, we explored Mozilla’s performance engineering workflow for insights, 
      and we published the collected data and explored insights in a 
      <a href="https://arxiv.org/pdf/2503.16332" target="_blank">paper</a> that we presented in 
      <a href="https://icpe2025.spec.org/" target="_blank">ICPE’25</a>.
      <br>
      <img src="{{ url_for('static', filename='img/icpe_presentation.jpg') }}" alt="Progress Image" class="small-img">
    </li>
    <li>
      <h3>Future Directions</h3><br>
      As we explored the data, it was hard to have a baseline to compare Mozilla’s current 
      Change Point Detection method (Student T-test). <b>BUT</b>, the issue is that the current data of 
      the signatures timeseries contains backfills and retriggers, making it hard to replicate the 
      original time series. Therefore, we wanted to make a dataset of experts-validated annotation 
      to use it as a ground truth.
    </li>
  </ul>
  <h1>Your Contribution</h1>
  <br>
  <p>
    As a Mozilla engineer, we provide this platform for you to annotate timeseries of signatures from Mozilla’s systems.
    You will have a tutorial below to familiarize yourself with the platform. Thank you for contributing to this!
  </p>
  <br>
  
  <div class="centered-video">
    <iframe 
      src="https://drive.google.com/file/d/12ig-WSXNIZo3RQvo-lWzwBcseG1yd8Z8/preview" 
      allowfullscreen>
    </iframe>
  </div>


  <br>
  {% endif %}
  {% if current_user.is_authenticated %}
    <h3>Introduction</h3>
    {% if not current_user.is_introduced %}
      <a href="{{ url_for('main.demo') }}">Click here to start the introduction to AnnotateChange.</a>
      {% if tasks_todo|length == 0 and tasks_done|length == 0 %}
      <br>
      <br>
      <p>
        Once you have finished the introduction you will be able to annotate real datasets.
      </p>
      {% endif %}
    {% else %}
    <p>
      Thank you for completing the introduction. If you want to revisit 
      it, you can do so by <a href="{{ url_for('main.demo') }}">clicking here</a>.
    </p>
    {% endif %}
    {% if current_user.is_introduced %}
      <h3>Doing Annotations</h3>
      {% if tasks_done|length == 0 %}
        <p>Click the button below to start annotating!</p>
      {% else %}
        <p>Click the button below to do some more annotations!</p>
      {% endif %}
      <p>So far, you annotated <strong>{{ tasks_done|length }}</strong> time series!</p>
      <div id="annotate-button">
        <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('main.assign') }}" role="button">
          Click here to annotate a time series!
        </a>
      </div>
    {% endif %}
    {% if tasks_done %}
      <h3>Completed Annotations</h3>
      <p>Below are the time series that you've annotated so far. Thanks so much for your help!</p>
      <div class="tasks-done">
        <table class="table table-striped" id="annotated-table">
          <thead>
            <th scope="col">Name</th>
            <th scope="col">Completed On</th>
            <th scope="col" class="no-sort"></th>
          </thead>
          {% for task in tasks_done %}
            <tr>
              {#
              {% if current_user.is_admin %}
              <td>{{ task.dataset.name | title }}</td>
              {% else %}
              #}
              <td>Dataset {{ task.dataset.id | title }}</td>
              {#
              {% endif %}
              #}
              <td>{{ task.annotated_on }}</td>
              <td>
                  <a class="btn btn-warning float-md-right" href="/annotate/{{ task.id }}">Re-annotate</a>
                  <a class="btn btn-success float-md-right" href="/view_annotations/{{ task.id }}">View</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ bootstrap_find_resource('js/jquery.dataTables.js', cdn='datatables', use_minified=True) }}"></script>
<script>
	$(document).ready(function() {
      $('#annotated-table').DataTable({
        pageLength: 25,
        order: [[1, 'desc']],
        columnDefs: [
          { targets: 'no-sort', orderable: false }
        ],
      });
	});
</script>
{% endblock scripts %}
