<p>Dear {{ user.username }},</p>
<p>
  To reset your password
  <a href="https://{{ dns_name }}{{ url_for('auth.reset_password', token=token, _external=False) }}">
    click here
  </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>https://{{ dns_name }}{{ url_for('auth.reset_password', token=token, _external=False) }}</p>
<p>If you have not requested a password reset then you can simply ignore this email.</p>
<p>Sincerely,</p>
<p>The Perf Annotation Changer Team</p>
